.hot-chocolate-icon {
  background: rgb(169, 50, 206);
  border-radius: 50%;
  box-shadow: 0px 0px 10px black;
}

.hot-chocolate-icon:after {
  display: block;
  width: 30px;
  height: 30px;
  content: "🍕";
  font-size: 20px;
  margin-left: 5px;
}
